@import "tailwindcss";


 body {
	 background-color: #f6f9f9;
 }

@theme {
  --color-primary: #04aeae;
  --color-secondary: #cdefef;
  --color-primary-dark: #183232;
  --color-outline: #f5f8f8;
  --color-danger: #f5e7e7;
  --color-danger-text: #991b1b; 
	--color-accent:	#45a17f;

	--color-logo-text: #0c1d1d;
  
}

